.fondo-navbar{
    background-color: rgb(245, 243, 242);
    border-bottom: 1px solid rgb(122, 35, 47);
}
.fondo-negro{
    background-color: rgb(37, 34, 31);    
}
.fondo-rojo{
    background-color: rgb(122, 35, 47);
}

.texto-blanco{
    color: rgb(245, 243, 242);
}
.texto-rojo{
     color: rgb(122, 35, 47);
}
.texto-negro{
    color: rgb(37, 34, 31);
}


.font-open-sans{
    font-family: 'Open Sans', sans-serif;
}
.font-finger-paint{
    font-family: 'Finger Paint', cursive;
}


.titulos{    
    font-family: 'Finger Paint', cursive;
    font-size: 55px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 35px;
}
.titulo-navbar-mobile{
    color: rgb(122, 35, 47);
    font-family: 'Finger Paint', cursive;
    font-size: 25px;
    text-align: center;
}


.lista{
    list-style-type: none;
    display: inline-block;
    float: none;
    
    padding-bottom: 10px;
    padding-top: 10px;
    
    font-family: 'Finger Paint', cursive;
    font-size: 25px;
}
.padding-link{
    padding: 10px;
}
.propiedades-navbar{
    text-align: center;
    border-bottom: 1px solid rgb(122, 35, 47);
}
.navbar-mobile{
    padding: 0px;
    margin-top: 4px;
    color: rgb(122, 35, 47);;  
}


.fondo-navbar>li:hover{
    background-color: rgb(122, 35, 47);
}
.fondo-navbar>li>a:hover{
    color: rgb(245, 243, 242);
}


.fondo-madera{
   background-image: url(fondo.jpeg);
   height: 500px;
   width: 100%;
}
.fondo-madera-mobile{
   background-image: url(fondo.jpeg);
   height: 355px;
   width: 100%;
}


.fondo-2{
    background-color: rgb(37, 34, 31);
    color: rgb(245, 243, 242);
    font-family: 'Finger Paint', cursive;
    text-align: center;
}
.fondo-3{
    background-color: rgb(122, 35, 47);
}
.fondo-4{
    background-color: rgb(245, 243, 242);
    margin-bottom: 50px;
}
.fondo-5{
    background-color: rgb(122, 35, 47);
    height: 70px;
}


.menu-fondo-2{
    border-radius: 25px;
    margin-bottom: 25px;
    height: 300px;
    width: 100%;
}
.promociones-de-fondo-3{ 
    border-radius: 25px;
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
}
.iconos-de-fondo-4{
    font-size: 24;
    color: rgb(122, 35, 47);
}


.parallax{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}
