<!DOCTYPE html>
 <html lang="en" ng-app="myApp">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Para que se adapete a los dispositivos mas grandes-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"><!--Bootstrap-->
    <link rel="stylesheet" href="css/css.css"><!--CSS--> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--Iconos de Google-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--Iconos W3School-->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"><!--Font Slabo-->

    
       
    
    <!--Los "SCRIPT" van en este orden o no funcionaran despues-->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script><!--Angular-->
    <script type="text/javascript" src="js/angular.js"></script><!-- Primero la libreria y despues el archivo JS --> 

    
    <title>Gissette</title>

</head>
    
    

     


<body ng-controller="myCtrl">

<header class="col-md-12 col-lg-12 fixed-top" style="background-color: white; border-top: 2px solid #842FBA">    
     
        <li class="header"><a class="nav-link" href="index.html" style="text-decoration: none">Inicio</a></li>
    
        <li class="header dropdown nav-link">Generos <i class="material-icons align-middle">arrow_drop_down</i>
            
            <div class="dropdown-menu text-cente" style="font-size: 18px">
                <a class="dropdown-item" href="#">Cuento</a>
                <a class="dropdown-item" href="#">Micro cuento</a>
                <a class="dropdown-item" href="#">Fragmento</a>
            </div>

        </li>
    
        <li class="header"><a class="nav-link" href="#" style="text-decoration: none">Retos</a></li>
                    
        <form class="form-inline my-2 justify-content-end">
              <input class="form-control form-control-search mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" ng-model="searchText">
              <button class="btn btn-search my-2 my-sm-0" type="submit">Buscar</button>
        </form>
</header>

    
<img src="imagenes/noche.jpg" class="img-fluid" alt="Responsive image">    
<!

<h1 class="hidden-sm hidden-md hidden-lg hidden-xl"> XS</h1>   
<h1 class="hidden-xs hidden-md hidden-lg hidden-xl"> SM</h1>   
<h1 class="hidden-xs hidden-sm hidden-lg hidden-xl"> MD</h1>   
<h1 class="hidden-xs hidden-sm hidden-md hidden-xl"> LG</h1>   
<h1 class="hidden-xs hidden-sm hidden-md hidden-lg">XL</h1>   


<div class="justify-content-center col-lg-8 offset-2">
<div class="card-deck">
    
    <!--Tarjeta -->
    <div class="col-lg-8 offset-2" style="margin-top: 50px" ng-repeat="libro in titulos | filter:searchText | limitTo: 6">
        <div class="card">
        <!--<img class="card-img-top" src="imagenes/gato.jpg">-->
            <div class="card-body">

                <h4 class="card-title">{{libro.firstName + " " + libro.lastName}}</h4>   
                <p>{{libro.text}}</p>
                <p class="card-text text-right">
                     <small class="text-muted">Publicado el 05/Dic/2017</small>
                 </p>
            </div>

            <div class="text-right card-footer ">

                    
                    <a class="btn btn-morado offset-lg-2" data-toggle="modal" data-target="#exampleModal" href="#" >Continuar Leyendo</a>

            </div> 
        </div> 
    </div>
</div>    
</div> 

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>  

    
<h1 class="hidden-sm hidden-md hidden-lg hidden-xl"> XS</h1>   
<h1 class="hidden-xs hidden-md hidden-lg hidden-xl"> SM</h1>   
<h1 class="hidden-xs hidden-sm hidden-lg hidden-xl"> MD</h1>   
<h1 class="hidden-xs hidden-sm hidden-md hidden-xl"> LG</h1>   
<h1 class="hidden-xs hidden-sm hidden-md hidden-lg">XL</h1>    
    
    


<!-- MODAL 1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>  

    
    
    
    
<script>
    


var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope){
    
    $scope.titulos = [
        
      {firstName: "Jonathan", lastName: "Quiles", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Carlos", lastName: "Peña", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
            
      {firstName: "Hector", lastName: "Mejia", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Javier", lastName: "Medina", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Angel", lastName: "Reyes", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Israel", lastName: "Solorzano", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Carmen", lastName: "Ramirez", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Gissette", lastName: "Pedraza", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Miguel", lastName: "Figueroa", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Angel", lastName: "Martinez", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Abraham", lastName: "Salinas", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Gustavo", lastName: "Castro", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."}

    ];

});


    
</script> 

</body>
</html>