<!DOCTYPE html>
 <html lang="en" ng-app="myApp">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Para que se adapete a los dispositivos mas grandes-->
    
    <!-- LINKS de Bootrstrap y CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"><!--Bootstrap-->
    <link rel="stylesheet" href="css/css.css"><!--CSS--> 
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    
    <!--Los "SCRIPTS" van en este orden o no funcionaran despues-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    
    
    <!-- ANGULAR -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script><!--Libreria de Angular-->
    <script type="text/javascript" src="js/angular.js"></script><!-- Archivo JS de Angular--> 
 
    
    <!-- FUENTES -->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"><!--Font Slabo-->
    
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--Iconos de Google-->
    
    <title>Gissette</title>

</head>
    
    

     


<body ng-controller="myCtrl">

    
<header class="titulos">
    
<nav>
    <ul class="hidden-xs">
        <li><a href="index.html" style="text-decoration: none">Inicio</a></li>    
        <li><a href="#" style="text-decoration: none">Cuento</a></li>    
        <li><a href="#" style="text-decoration: none">Retos</a></li>    
        <li><a href="#" style="text-decoration: none">Microcuento</a></li>    
        <li><a href="#" style="text-decoration: none">Fragmento</a></li>    
    </ul>
</nav>

</header>    
    
    

 <!-- HEADER    
<header class="col-md-12 col-lg-12 fixed-top" style="background-color: white; border-top: 2px solid #842FBA">    
     
        <li class="header"><a class="nav-link" href="index.html" style="text-decoration: none">Inicio</a></li>
    
        <li class="header dropdown nav-link">Generos <i class="material-icons align-middle">arrow_drop_down</i>
            
            <div class="dropdown-menu text-cente" style="font-size: 18px">
                <a class="dropdown-item" href="#">Cuento</a>
                <a class="dropdown-item" href="#">Micro cuento</a>
                <a class="dropdown-item" href="#">Fragmento</a>
            </div>
        </li>
    
        <li class="header"><a class="nav-link" href="#" style="text-decoration: none">Retos</a></li>
                    
        <form class="form-inline my-2 justify-content-end">
              <input class="form-control form-control-search mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" ng-model="searchText">
              <button class="btn btn-search my-2 my-sm-0" type="submit">Buscar</button>
        </form>
</header>
-->
    
<img src="imagenes/noche.jpg" class="img-fluid" alt="Responsive image">    

    
<div class="container">
<span class="row"> 
    
    <!-- INPUT SEARCH -->
    <form class="form-inline my-2 col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <span class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input class="form-control form-control-search mr-sm-2 col-8" style="margin-left: 15px;" type="text" placeholder="Encuentra tu historia" aria-label="Search" ng-model="searchText">

            <button class="btn btn-search my-2 my-sm-0" style="margin-left: 15px;" type="submit">Buscar</button>
        </span>
    </form>
    
    <!-- COLUMNA 1 -->
    <div class="card-deck col-xs-3 col-lg-8">

        <!--Tarjeta -->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 25px" ng-repeat="usuario in usuarios | filter:{firstName: searchText} | limitTo: 6">
            <div class="card">
            <!--<img class="card-img-top" src="imagenes/gato.jpg">-->
                <div class="card-body">

                    <h4 class="card-title">{{usuario.firstName + " " + usuario.lastName}}</h4>   
                    <p>{{usuario.text}}</p>
                    <p class="card-text text-right">
                        <small class="text-muted">Publicado el 05/Dic/2017</small>
                    </p>
                </div>

                <div class="card-footer"> 

                    <span class="row">
                        <!-- FLECHA -->
                        <a class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="color: black; margin-top: 6px" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="fa fa-share icono-share" style="font-size: 18px" aria-hidden="true"></i></a>

                        <!-- BOTON -->
                        <a class="btn btn-morado col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 offset-7 offset-sm-8 offset-md-8 offset-lg-8 offset-xl-8 " data-toggle="modal" href="#">Leer</a>
                    </span>
                </div> 
            </div> 
        </div>
    </div>    

    <!-- COLUMNA 2 -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

        <div class="col-8 col-sm-6 col-md-4 col-lg-8 col-xl-8 offset-2 offset-sm-3 offset-md-4 offset-lg-2 offset-xl-2 redes-sociales text-center" style="margin-top: 25px">

            <h4 class="text-center" style="margin-top: 15px">¡FOLLOW ME! </h4>

            <hr>

            <h4 class="text-center" style="margin-top: -15pxcolor: black">
                <a href="https://www.google.com.mx/" style="color: black; margin-right: 20px"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.google.com.mx/" style="color: black; margin-right: 20px"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.google.com.mx/" style="color: black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </h4> 
        </div>    

</div>
    
</span>   
</div>

    
    

    
    
    
    
    
    
<script type="text/javascript">
    
//Modal 
$('#myModal').modal();
    
//Popover 
$(function () {
  $('[data-toggle="popover"]').popover()
})
    
    
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope){
    
    $scope.usuarios = [
        
      {firstName: "Jonathan", lastName: "Quiles", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Carlos", lastName: "Peña", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
            
      {firstName: "Hector", lastName: "Mejia", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Javier", lastName: "Medina", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Angel", lastName: "Reyes", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Israel", lastName: "Solorzano", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Carmen", lastName: "Ramirez", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Gissette", lastName: "Pedraza", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Miguel", lastName: "Figueroa", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Angel", lastName: "Martinez", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Abraham", lastName: "Salinas", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."},
        
      {firstName: "Gustavo", lastName: "Castro", text: "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500..."}
    ];
});
    
</script> 

</body>
</html>