<!DOCTYPE html>
 <html lang="en" ng-app="myApp">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Para que se adapete a los dispositivos mas grandes-->
    
    <!-- LINKS de Bootrstrap y CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"><!--Bootstrap-->
    <link rel="stylesheet" href="css/css.css"><!--CSS--> 
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    
    <!--Los "SCRIPTS" van en este orden o no funcionaran despues-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    
    
    <!-- ANGULAR -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script><!--Libreria de Angular-->
    <script type="text/javascript" src="js/angular.js"></script><!-- Archivo JS de Angular--> 
 
    
    <!-- FUENTES -->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"><!--Font Slabo-->
    
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--Iconos de Google-->
    
    <title>Gissette</title>

</head>
    
    


<body ng-controller="myCtrl">

    
<header class="titulos hidden-xs" style="margin-top: -10px">
    
<nav style="border-bottom: solid 1px rgba(132,47,186,.4)">
    <ul class="">
        <li><a class="nav2" href="index.html">Inicio</a></li>    
        <li><a class="nav2" href="cuentos.html">Cuentos</a></li>    
        <li><a class="nav2" href="fragmentos.html">Fragmentos</a></li>    
        <li><a class="nav2" href="microrelatos.html">Microcuentos</a></li>    
        <li><a class="nav2" href="retos.html">Retos</a></li>  
    </ul>
</nav>

</header>    
    
    
<br>
    
    
<div class="text-center" style="margin-top: 10px">
    <h1 class="col-12" style="padding: 18px">RETOS</h1>
</div>
    
    
<br><br>  
  
    
<!--<div class="container">-->
<span class="row"> 
    
    <!-- INPUT SEARCH -->
    <form class="form-inline my-2 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <span class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input class="form-control form-control-search mr-sm-2 col-8" style="margin-left: 15px;" type="text" placeholder="Encuentra tu historia" aria-label="Search" ng-model="searchText">

            <button class="btn btn-search my-2 my-sm-0" style="margin-left: 15px;" type="submit">Buscar</button>
        </span>
    </form>
    
    <!-- COLUMNA 1 -->
    <div class="card-deck col-lg-9 col-xl-9">

        <!-- TARJETA -->
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="margin-top: 25px" ng-repeat="usuario in usuarios | filter:{titulo: searchText} | filter: {categoria: 'reto'}  | limitTo: 9">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">{{usuario.titulo}}</h4>   
                    <p>{{usuario.resena}}</p>
                    <!-- ETIQUETA Y FECHA -->
                    <span class="row">
                        
                        <div class="col-3">
                            <a href="{{usuario.categoria}}s.html" class="badge badge-primary">{{usuario.categoria}}</a>
                        </div>
                        
                        <div class="col-7 offset-2 col-sm-6 offset-sm-3 col-md-6 offset-md-3        col-lg-8 offset-lg-1 col-xl-8 offset-1">
                            <p class="card-text text-right">
                                <small class="text-muted">Publicado el 06/En/2018</small>
                            </p>
                        </div>
                        
                    </span>
                </div>
                
            <!--<img class="card-img-top" src="imagenes/gato.jpg">-->
                
                                    
                <!-- PIE DE PAGINA -->
                <div class="card-footer"> 
                    
                    <span class="row">
                        <!-- FLECHA -->
                        <a class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="color: black; margin-top: 6px" data-html="true" data-toggle="popover" data-placement="top" data-content="<a href='#' target='_blank' style='color: black; margin-right: 20px'><i class='fa fa-facebook' aria-hidden='true'></i></a>"><i class="fa fa-share icono-share" style="font-size: 18px" aria-hidden="true"></i></a>

                        <!-- BOTON -->
                        <a class="btn btn-morado col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 offset-7 offset-sm-8 offset-md-8 offset-lg-7 offset-xl-7 " href="historia.html">Leer</a>
                    </span>
                </div> 
            </div> 
        </div>
    </div>    

     <!-- COLUMNA 2 -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
        
        <br>
        
        <!--s REDES SOCIALES -->
        <div class="col-8 col-sm-6 col-md-4 col-lg-8 col-xl-8 offset-2 offset-sm-3 offset-md-4 offset-lg-2 offset-xl-2 redes-sociales text-center" style="margin-top: 25px">

                <h4 class="text-center" style="margin-top: 15px">¡FOLLOW ME! </h4>

                <hr>

            
  
            
                <h4 class="text-center" >
                    <a href="#" target="_blank" style="color: black; margin-right: 20px"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    
                    <a href="https://twitter.com/DkEeveE" target="_blank" style="color: black; margin-right: 20px"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    
                    <a href="https://www.instagram.com/dkeevee9/" target="_blank" style="color: black"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </h4> 
            </div> 

        <br>
        <br>
        
        <!-- SUSCRIBETE -->
        <div class="text-center" style="margin-top: 25px">

            <h4 class="text-center" style="margin-top: 15px">SUSCRIBETE PARA ESTAR INFORMADO</h4>

            <hr>

            <form class="form-inline my-2 col-12 col-sm-12 col-md-8 col-lg-12 col-xl-12 offset-md-2 offset-lg-0">
    
                <input class="form-control form-control-search 
                              col-8 col-sm-8 col-md-9 col-lg-7 col-xl-8 
                              offset-1 offset-sm-1 offset-md-0 offset-lg-0 offset-xl-0 "
                       
                              type="text" placeholder="Correo Electronico" aria-label="Search">

                <button class="btn btn-search my-2 my-sm-0" style="margin-left: 10px;" type="submit">Enviar</button>
                   
            </form>

        </div> 
        
        <br>
        <br>
        
        <!-- ABOUT ME -->
        <div class="col-12 col-sm-10 col-md-10 col-lg-12 col-xl-12 offset-sm-1 offset-md-1 offset-lg-0 offset-xl-0">
            <div class="card">
                <img class="card-img-top" src="imagenes/as.jpg" alt="Card image cap">
                <div class="card-block container">
                    <br>
                    <h4 class="card-title">Mi hisotria...</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <br>
                </div>
            </div>
        </div>
        
        <br><br>
    </div>


</span>   
<!--</div>-->


<br><br><br>
    

<footer class="col-12 text-center" style="background-color: rgba(132,47,186,.4); height: 100px">
    <br>
    <h1 class="col-12">Gissette Ramírez</h1>    

</footer>
    

    
    
    
    

    
<script type="text/javascript">
    
//Modal 
$('#myModal').modal();
    
//Popover 
$(function () {
  $('[data-toggle="popover"]').popover()
})
    
</script> 

</body>
</html>